.git
.gitignore
README.md
docker-compose.override.yml
Dockerfile
node_modules
npm-debug.log
yarn-error.log
.env
.idea
.vscode
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
tests
.phpunit.result.cache
public/storage
storage/app/public